/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*==================================================*/
*, *:before, *:after {
    box-sizing: border-box;
}

body{
    font-family: PingFang TC, Helvetica, sans-serif;
}

.container{
    width: 1024px;
    margin: 0 auto;
}

.go-top{
    position: fixed;
}

.header{
    background: url("../images/Hero.png");
    background-repeat: no-repeat;
    height: 513px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 40px;
    letter-spacing: 3.89px;
    color: white;
    margin-top: 89px;
}

#zones{
    background: rgba(255,255,255,0.70);
    border: 3px solid #FFFFFF;
    border-radius: 3px;
    width: 452px;
    height: 48px;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    margin-top: 96px;
}

.popularZone{
    background: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
    border-radius: 5px;
    width: 800px;
    padding: 20px;
    margin-top: 79px;
}

.popularZone h2{
    font-size: 18px;
    margin-bottom: 14px;
}

.btn{
    padding: 6px 33px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    border: 2px solid transparent;
    margin-left: 18px;
    outline: none;
    cursor: pointer;
}

.btn:hover{
    border: 2px solid rgb(208, 208, 243);
}

.btn-purple{
    background: #8A82CC;
}

.btn-orange{
    background: #FFA782;
}

.btn-yellow{
    background: #F5D005;
}

.btn-blue{
    background: #559AC8;
}

.splitter{
    width: 900px;
    border: 1px dashed #559AC8;
    margin-bottom: 76px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#zoneName{
    font-size: 36px;
    color: #8A82CC;
    margin-bottom: 24px;
}

.list{
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px;
    width: 960px;
}

.list li{
    width: 464px;
    margin: 18px 8px;
}

.list .photo{
    height: 155px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
    padding: 14px 22px;
}

.photo h3{
    font-size: 24px;
}

.list .description{
    padding: 22px 22px 6px 22px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
}

.description img{
    margin-right: 9px;
}

.description p{
    margin-bottom: 16px;
}

.side-by-side{
    display: flex;
    justify-content: space-between;
}

.pages{
    display: flex;
    margin: 40px auto;
}

.pages a{
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    color: #4A4A4A;
}

.pages a:hover{
    color: #559AC8;
}

.pages a.page-selected{
    color: #559AC8;
}

.pages a.page-disabled{
    pointer-events: none;
    color: silver;
}

.footer{
    background: #559AC8;
    text-align: center;
    padding: 24px 0 8px;
}

.footer p{
    font-size: 14px;
    color: white;
    margin-bottom: 15px;
}

.footer .data-source{
    color: #FFD366;
}